OnlineVacationReservation/Connected Services/ServiceReference1/Booking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="searchFlight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Departing_Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Departing_City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destination_Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Destination_City" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchFlightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchFlightResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="searchFlightSoapIn">
    <wsdl:part name="parameters" element="tns:searchFlight" />
  </wsdl:message>
  <wsdl:message name="searchFlightSoapOut">
    <wsdl:part name="parameters" element="tns:searchFlightResponse" />
  </wsdl:message>
  <wsdl:portType name="BookingSoap">
    <wsdl:operation name="searchFlight">
      <wsdl:input message="tns:searchFlightSoapIn" />
      <wsdl:output message="tns:searchFlightSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookingSoap" type="tns:BookingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchFlight">
      <soap:operation soapAction="http://tempuri.org/searchFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BookingSoap12" type="tns:BookingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchFlight">
      <soap12:operation soapAction="http://tempuri.org/searchFlight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Booking">
    <wsdl:port name="BookingSoap" binding="tns:BookingSoap">
      <soap:address location="https://localhost:44379/Booking.asmx" />
    </wsdl:port>
    <wsdl:port name="BookingSoap12" binding="tns:BookingSoap12">
      <soap12:address location="https://localhost:44379/Booking.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>